.surn{
  color: #F0FFFF;
  text-transform: capitalize;
  letter-spacing: 5px;
  flex-grow: 2;
  font-size: 2em;
  padding-left: 15px;
}
.firstn{
  letter-spacing: 5px;
  color: #F0FFFF;
  font-size: 2em;
  padding-left: 40px;
}
.contactform{
  padding-left: 30px;
  padding-top: 70px;
  max-width: 70em;
}
