body, html{
    font-family: 'Louis George Café Light', 'Didact Gothic';
    font-size: 16px;
    scroll-behavior: smooth;
    color: #F0FFFF;
}
.samples{
  max-width: 75vw;
  margin-left: 0;
  padding-top: 140px;
}
.samples h1{
  padding-bottom: 20px;
}
.samples span{
  color: #FDCA40;
}
.samples p{
  font-size: 1.3em;
}
.samplerow1{
  padding-top: 30px;
}
.samplerow2{
  padding-top: 40px;
}
.button{
  text-align: center;
}
.btn{
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 20px;
}
<<<<<<< HEAD
@media screen and (max-width: 768px)    {
.samples{  max-width: 100vw;  }
.offbtn{ margin-bottom: 20px;}
.skatebtn{ margin-bottom: 20px;}
}
=======
>>>>>>> 2cebf80826203a6aadbd0f1454b8886450ae2174
